body 
{
	background: #D3D3D3;
}
.bu
{

	display: block;
width: 20%;
height: 30%;


  border: inset;
  background-color:#F08080 ;
  padding: 50px 50px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
.bu2
{

  display: block;
width: 20%;
height: 30%;


  border: inset;
  background-color:#00FF7F;
  padding: 50px 50px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
p
{

	background: #778899;
	font-size: 18px;
	font-family:Lucida Sans;
}
div
    {
            
      background: #00FF7F;
      
    }